In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
hiv1 = pd.read_excel('HIV_1.xlsx')
hiv2 = pd.read_excel('HIV_2.xlsx')
hiv3 = pd.read_excel('HIV_3.xlsx')

In [3]:
hiv1.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019        690 000 [500 000–970 000]
1     Global  2018      730 000 [530 000–1 000 000]
2     Global  2017      760 000 [550 000–1 100 000]
3     Global  2016      800 000 [580 000–1 100 000]
4     Global  2015      830 000 [610 000–1 200 000]

In [4]:
hiv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   WHO region                        210 non-null    object
 1   Year                              210 non-null    int64
 2   Number of deaths due to HIV/AIDS  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [5]:
l = []
def remove_bracket(data):
    for d in data:
        k = d.split('[')[0].split()
        if len(k) == 1:
            l.append(k[0])
        elif len(k) == 2:
            l.append(k[0] + k[1])
        else:
            l.append(k[0] + k[1] + k[2])

In [6]:
remove_bracket(hiv1['Number of deaths due to HIV/AIDS'])

In [7]:
l

['690000',
 '730000',
 '760000',
 '800000',
 '830000',
 '870000',
 '930000',
 '1000000',
 '1100000',
 '1100000',
 '1200000',
 '1400000',
 '1500000',
 '1600000',
 '1700000',
 '1700000',
 '1700000',
 '1600000',
 '1500000',
 '1400000',
 '1300000',
 '1200000',
 '1000000',
 '940000',
 '830000',
 '700000',
 '580000',
 '480000',
 '380000',
 '300000',
 '440000',
 '460000',
 '480000',
 '510000',
 '530000',
 '570000',
 '610000',
 '680000',
 '740000',
 '810000',
 '890000',
 '1000000',
 '1100000',
 '1200000',
 '1300000',
 '1300000',
 '1300000',
 '1200000',
 '1200000',
 '1100000',
 '1000000',
 '910000',
 '810000',
 '710000',
 '610000',
 '520000',
 '430000',
 '350000',
 '280000',
 '220000',
 '52000',
 '52000',
 '50000',
 '51000',
 '54000',
 '56000',
 '57000',
 '59000',
 '63000',
 '65000',
 '67000',
 '67000',
 '69000',
 '75000',
 '78000',
 '78000',
 '79000',
 '79000',
 '80000',
 '79000',
 '73000',
 '71000',
 '78000',
 '98000',
 '110000',
 '99000',
 '89000',
 '78000',
 '66000',
 '54000',
 '110000',
 '120000',
 '130000',
 '140000',
 '150000',
 '150000',
 '150000',
 '150000',
 '150000',
 '150000',
 '170000',
 '190000',
 '200000',
 '220000',
 '230000',
 '230000',
 '220000',
 '210000',
 '190000',
 '170000',
 '150000',
 '130000',
 '100000',
 '83000',
 '64000',
 '46000',
 '32000',
 '20000',
 '12000',
 '5800',
 '39000',
 '38000',
 '37000',
 '38000',
 '37000',
 '37000',
 '38000',
 '39000',
 '37000',
 '34000',
 '33000',
 '32000',
 '34000',
 '36000',
 '33000',
 '31000',
 '28000',
 '25000',
 '22000',
 '20000',
 '18000',
 '17000',
 '19000',
 '26000',
 '26000',
 '24000',
 '22000',
 '19000',
 '16000',
 '13000',
 '15000',
 '15000',
 '14000',
 '14000',
 '14000',
 '13000',
 '12000',
 '11000',
 '10000',
 '9600',
 '9100',
 '9000',
 '8500',
 '7800',
 '7000',
 '6400',
 '5800',
 '5200',
 '4500',
 '3900',
 '3300',
 '2700',
 '2200',
 '1800',
 '1500',
 '1100',
 '900',
 '700',
 '540',
 '&lt;500',
 '41000',
 '42000',
 '44000',
 '45000',
 '49000',
 '52000',
 '55000',
 '59000',
 '63000',
 '64000',
 '64000',
 '65000',
 '64000',
 '65000',
 '65000',
 '61000',
 '57000',
 '52000',
 '45000',
 '38000',
 '32000',
 '25000',
 '20000',
 '16000',
 '12000',
 '7700',
 '5500',
 '4000',
 '2900',
 '2100']

In [8]:
hiv1['Number of deaths due to HIV/AIDS_1'] = l

In [9]:
hiv1.head()

,WHO region,Year,Number of deaths due to HIV/AIDS,Number of deaths due to HIV/AIDS_1
0,Global,2019,690 000 [500 000–970 000],690000
1,Global,2018,730 000 [530 000–1 000 000],730000
2,Global,2017,760 000 [550 000–1 100 000],760000
3,Global,2016,800 000 [580 000–1 100 000],800000
4,Global,2015,830 000 [610 000–1 200 000],830000

In [10]:
hiv1['Number of deaths due to HIV/AIDS_1'].tail(40)

170       3300
171       2700
172       2200
173       1800
174       1500
175       1100
176        900
177        700
178        540
179    &lt;500
180      41000
181      42000
182      44000
183      45000
184      49000
185      52000
186      55000
187      59000
188      63000
189      64000
190      64000
191      65000
192      64000
193      65000
194      65000
195      61000
196      57000
197      52000
198      45000
199      38000
200      32000
201      25000
202      20000
203      16000
204      12000
205       7700
206       5500
207       4000
208       2900
209       2100
Name: Number of deaths due to HIV/AIDS_1, dtype: object

In [11]:
h = hiv1['Number of deaths due to HIV/AIDS_1'][179].split(';')[1]

In [12]:
hiv1['Number of deaths due to HIV/AIDS_1'].loc[hiv1['Number of deaths due to HIV/AIDS_1'].index == 179] = h

C:\Users\Bhavesh kumar\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [13]:
hiv1['Number of deaths due to HIV/AIDS_1'].loc[hiv1['Number of deaths due to HIV/AIDS_1'].index == 179]

179    500
Name: Number of deaths due to HIV/AIDS_1, dtype: object

In [14]:
hiv1.head()

,WHO region,Year,Number of deaths due to HIV/AIDS,Number of deaths due to HIV/AIDS_1
0,Global,2019,690 000 [500 000–970 000],690000
1,Global,2018,730 000 [530 000–1 000 000],730000
2,Global,2017,760 000 [550 000–1 100 000],760000
3,Global,2016,800 000 [580 000–1 100 000],800000
4,Global,2015,830 000 [610 000–1 200 000],830000

In [15]:
hiv1.drop('Number of deaths due to HIV/AIDS', axis=1, inplace=True)

In [16]:
hiv1.head()

  WHO region  Year Number of deaths due to HIV/AIDS_1
0     Global  2019                             690000
1     Global  2018                             730000
2     Global  2017                             760000
3     Global  2016                             800000
4     Global  2015                             830000

In [17]:
hiv1['Number of deaths due to HIV/AIDS_1'] = hiv1['Number of deaths due to HIV/AIDS_1'].astype('int64')

In [18]:
hiv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   WHO region                          210 non-null    object
 1   Year                                210 non-null    int64
 2   Number of deaths due to HIV/AIDS_1  210 non-null    int64
dtypes: int64(2), object(1)
memory usage: 5.0+ KB

In [19]:
hiv1.to_csv('HIV_1_cleaned.csv', index=False)

In [20]:
hiv2.head()

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019       38 000 000
1  Global  2018        37 300 000
2  Global  2017        36 500 000
3  Global  2016        35 700 000
4  Global  2015       34 900 000

In [21]:
hiv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   REGION             210 non-null    object
 1   YEAR               210 non-null    int64
 2   PEOPLE HAVING HIV  210 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.0+ KB

In [22]:
s = []
def remove_space(data):
    for d in data:
        k = d.split()
        if len(k) == 1:
            s.append(k[0])
        elif len(k) == 2:
            s.append(k[0] + k[1])
        else:
            s.append(k[0] + k[1] + k[2])

In [23]:
remove_space(hiv2['PEOPLE HAVING HIV'])

In [24]:
s

['38000000',
 '37300000',
 '36500000',
 '35700000',
 '34900000',
 '34100000',
 '33200000',
 '32400000',
 '31600000',
 '30700000',
 '29900000',
 '29100000',
 '28400000',
 '27800000',
 '27300000',
 '26800000',
 '26300000',
 '25700000',
 '24900000',
 '24000000',
 '22800000',
 '21500000',
 '20100000',
 '18500000',
 '16800000',
 '15000000',
 '13100000',
 '11300000',
 '9400000',
 '7700000',
 '25700000',
 '25300000',
 '24900000',
 '24400000',
 '23900000',
 '23400000',
 '22900000',
 '22400000',
 '21800000',
 '21300000',
 '20700000',
 '20200000',
 '19700000',
 '19300000',
 '19000000',
 '18700000',
 '18400000',
 '18000000',
 '17600000',
 '17000000',
 '16300000',
 '15500000',
 '14500000',
 '13400000',
 '12300000',
 '11000000',
 '9700000',
 '8300000',
 '7000000',
 '5700000',
 '3700000',
 '3600000',
 '3500000',
 '3400000',
 '3300000',
 '3200000',
 '3100000',
 '3000000',
 '2900000',
 '2800000',
 '2800000',
 '2700000',
 '2600000',
 '2500000',
 '2400000',
 '2300000',
 '2300000',
 '2200000',
 '2100000',
 '2000000',
 '1900000',
 '1800000',
 '1700000',
 '1600000',
 '1500000',
 '1400000',
 '1400000',
 '1300000',
 '1200000',
 '1100000',
 '3700000',
 '3700000',
 '3600000',
 '3600000',
 '3600000',
 '3600000',
 '3500000',
 '3500000',
 '3400000',
 '3400000',
 '3400000',
 '3300000',
 '3300000',
 '3300000',
 '3300000',
 '3300000',
 '3400000',
 '3400000',
 '3300000',
 '3200000',
 '3000000',
 '2800000',
 '2600000',
 '2300000',
 '2100000',
 '1800000',
 '1400000',
 '1100000',
 '730000',
 '430000',
 '2600000',
 '2400000',
 '2300000',
 '2200000',
 '2100000',
 '2000000',
 '1800000',
 '1700000',
 '1600000',
 '1600000',
 '1500000',
 '1400000',
 '1300000',
 '1200000',
 '1100000',
 '1100000',
 '1000000',
 '930000',
 '850000',
 '780000',
 '710000',
 '650000',
 '580000',
 '530000',
 '480000',
 '440000',
 '400000',
 '370000',
 '350000',
 '320000',
 '420000',
 '390000',
 '370000',
 '350000',
 '330000',
 '310000',
 '290000',
 '270000',
 '260000',
 '240000',
 '220000',
 '200000',
 '180000',
 '170000',
 '150000',
 '130000',
 '120000',
 '110000',
 '100000',
 '91000',
 '80000',
 '69000',
 '58000',
 '48000',
 '39000',
 '31000',
 '25000',
 '20000',
 '15000',
 '12000',
 '1900000',
 '1900000',
 '1800000',
 '1700000',
 '1700000',
 '1600000',
 '1600000',
 '1500000',
 '1500000',
 '1400000',
 '1400000',
 '1400000',
 '1300000',
 '1300000',
 '1200000',
 '1200000',
 '1100000',
 '1100000',
 '980000',
 '910000',
 '820000',
 '730000',
 '640000',
 '540000',
 '440000',
 '320000',
 '200000',
 '150000',
 '120000',
 '90000']

In [25]:
hiv2['PEOPLE HAVING HIV'] = s

In [26]:
hiv2.head()

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019          38000000
1  Global  2018          37300000
2  Global  2017          36500000
3  Global  2016          35700000
4  Global  2015          34900000

In [27]:
hiv2['PEOPLE HAVING HIV'] = hiv2['PEOPLE HAVING HIV'].astype('int64')

In [28]:
hiv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   REGION             210 non-null    object
 1   YEAR               210 non-null    int64
 2   PEOPLE HAVING HIV  210 non-null    int64
dtypes: int64(2), object(1)
memory usage: 5.0+ KB

In [29]:
hiv2.to_csv('HIV_2_cleaned.csv', index=False)

In [30]:
hiv3.head()

,Unnamed: 0,Unnamed: 1,Number of new HIV infections,New HIV infections (per 1000 uninfected population),New HIV infections (per 1000 uninfected population).1,New HIV infections (per 1000 uninfected population).2
0,WHO region,Year,,Both sexes,Male,Female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]

In [31]:
hiv3.columns = ['WHO_region', 'Year', 'Number_of_new_hiv_infections', 'New HIV infections (per 1000 uninfected population) Both_sexes', 'New HIV infections (per 1000 uninfected population) Male', 'New HIV infections (per 1000 uninfected population) Female']

In [32]:
hiv3.head()

,WHO_region,Year,Number_of_new_hiv_infections,New HIV infections (per 1000 uninfected population) Both_sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female
0,WHO region,Year,,Both sexes,Male,Female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]

In [33]:
hiv3.drop(0, axis=0, inplace=True)

In [34]:
hiv3.head()

,WHO_region,Year,Number_of_new_hiv_infections,New HIV infections (per 1000 uninfected population) Both_sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
5,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35]

In [35]:
hiv3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 1 to 210
Data columns (total 6 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   WHO_region                                                      210 non-null    object
 1   Year                                                            210 non-null    object
 2   Number_of_new_hiv_infections                                    210 non-null    object
 3   New HIV infections (per 1000 uninfected population) Both_sexes  210 non-null    object
 4   New HIV infections (per 1000 uninfected population) Male        210 non-null    object
 5   New HIV infections (per 1000 uninfected population) Female      210 non-null    object
dtypes: object(6)
memory usage: 11.5+ KB

In [36]:
l = []
remove_bracket(hiv3['Number_of_new_hiv_infections'])

In [37]:
l

['1700000',
 '1700000',
 '1800000',
 '1800000',
 '1900000',
 '1900000',
 '2000000',
 '2000000',
 '2100000',
 '2100000',
 '2200000',
 '2200000',
 '2300000',
 '2300000',
 '2400000',
 '2400000',
 '2500000',
 '2600000',
 '2600000',
 '2700000',
 '2800000',
 '2800000',
 '2800000',
 '2700000',
 '2700000',
 '2700000',
 '2500000',
 '2400000',
 '2200000',
 '1900000',
 '970000',
 '1000000',
 '1100000',
 '1100000',
 '1200000',
 '1200000',
 '1300000',
 '1400000',
 '1400000',
 '1500000',
 '1500000',
 '1600000',
 '1600000',
 '1700000',
 '1700000',
 '1800000',
 '1800000',
 '1800000',
 '1900000',
 '1900000',
 '2000000',
 '2000000',
 '2000000',
 '2000000',
 '2000000',
 '1900000',
 '1900000',
 '1800000',
 '1600000',
 '1400000',
 '170000',
 '170000',
 '170000',
 '170000',
 '170000',
 '170000',
 '170000',
 '170000',
 '170000',
 '160000',
 '160000',
 '170000',
 '170000',
 '160000',
 '170000',
 '170000',
 '180000',
 '180000',
 '190000',
 '190000',
 '190000',
 '190000',
 '180000',
 '180000',
 '180000',
 '170000',
 '170000',
 '160000',
 '160000',
 '150000',
 '160000',
 '170000',
 '180000',
 '190000',
 '200000',
 '210000',
 '210000',
 '210000',
 '210000',
 '210000',
 '220000',
 '220000',
 '230000',
 '230000',
 '230000',
 '230000',
 '240000',
 '290000',
 '310000',
 '350000',
 '380000',
 '370000',
 '370000',
 '370000',
 '380000',
 '390000',
 '400000',
 '380000',
 '320000',
 '240000',
 '190000',
 '190000',
 '180000',
 '170000',
 '160000',
 '160000',
 '150000',
 '140000',
 '140000',
 '130000',
 '130000',
 '120000',
 '120000',
 '110000',
 '110000',
 '110000',
 '100000',
 '100000',
 '98000',
 '95000',
 '89000',
 '83000',
 '79000',
 '75000',
 '69000',
 '61000',
 '52000',
 '47000',
 '44000',
 '44000',
 '44000',
 '41000',
 '38000',
 '37000',
 '36000',
 '34000',
 '33000',
 '32000',
 '30000',
 '30000',
 '31000',
 '30000',
 '28000',
 '26000',
 '26000',
 '19000',
 '17000',
 '17000',
 '17000',
 '16000',
 '15000',
 '14000',
 '13000',
 '11000',
 '9500',
 '7800',
 '6400',
 '5100',
 '4000',
 '3300',
 '110000',
 '110000',
 '110000',
 '110000',
 '110000',
 '110000',
 '110000',
 '110000',
 '110000',
 '110000',
 '110000',
 '110000',
 '120000',
 '120000',
 '120000',
 '130000',
 '130000',
 '130000',
 '130000',
 '130000',
 '130000',
 '120000',
 '120000',
 '120000',
 '130000',
 '140000',
 '50000',
 '40000',
 '30000',
 '23000']

In [38]:
hiv3['Number_of_new_hiv_Infections'] = l

In [39]:
hiv3.head()

,WHO_region,Year,Number_of_new_hiv_infections,New HIV infections (per 1000 uninfected population) Both_sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female,Number_of_new_hiv_Infections
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29],1700000
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3],1700000
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32],1800000
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33],1800000
5,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35],1900000

In [44]:
def rm_bracket(data):
    global data_list
    data_list = []
    for d in data:
        k = d.split('[')
        data_list.append(k[0])

In [45]:
rm_bracket(hiv3['New HIV infections (per 1000 uninfected population) Both_sexes'])

In [46]:
data_list

['0.22 ',
 '0.23 ',
 '0.24 ',
 '0.25 ',
 '0.26 ',
 '0.27 ',
 '0.28 ',
 '0.29 ',
 '0.3 ',
 '0.32 ',
 '0.33 ',
 '0.34 ',
 '0.35 ',
 '0.36 ',
 '0.37 ',
 '0.38 ',
 '0.4 ',
 '0.42 ',
 '0.43 ',
 '0.45 ',
 '0.47 ',
 '0.48 ',
 '0.48 ',
 '0.48 ',
 '0.49 ',
 '0.49 ',
 '0.47 ',
 '0.45 ',
 '0.41 ',
 '0.37 ',
 '0.94 ',
 '1 ',
 '1.09 ',
 '1.17 ',
 '1.26 ',
 '1.36 ',
 '1.46 ',
 '1.57 ',
 '1.7 ',
 '1.83 ',
 '1.94 ',
 '2.06 ',
 '2.18 ',
 '2.3 ',
 '2.41 ',
 '2.53 ',
 '2.66 ',
 '2.8 ',
 '2.94 ',
 '3.09 ',
 '3.22 ',
 '3.34 ',
 '3.44 ',
 '3.51 ',
 '3.57 ',
 '3.59 ',
 '3.54 ',
 '3.42 ',
 '3.21 ',
 '2.92 ',
 '0.17 ',
 '0.17 ',
 '0.17 ',
 '0.18 ',
 '0.18 ',
 '0.18 ',
 '0.18 ',
 '0.18 ',
 '0.18 ',
 '0.18 ',
 '0.18 ',
 '0.18 ',
 '0.19 ',
 '0.19 ',
 '0.2 ',
 '0.2 ',
 '0.21 ',
 '0.22 ',
 '0.22 ',
 '0.23 ',
 '0.23 ',
 '0.23 ',
 '0.23 ',
 '0.23 ',
 '0.23 ',
 '0.23 ',
 '0.23 ',
 '0.22 ',
 '0.22 ',
 '0.22 ',
 '0.08 ',
 '0.08 ',
 '0.09 ',
 '0.1 ',
 '0.11 ',
 '0.11 ',
 '0.11 ',
 '0.12 ',
 '0.12 ',
 '0.12 ',
 '0.12 ',
 '0.13 ',
 '0.13 ',
 '0.14 ',
 '0.14 ',
 '0.14 ',
 '0.15 ',
 '0.18 ',
 '0.2 ',
 '0.23 ',
 '0.25 ',
 '0.25 ',
 '0.25 ',
 '0.26 ',
 '0.26 ',
 '0.28 ',
 '0.29 ',
 '0.28 ',
 '0.24 ',
 '0.19 ',
 '0.21 ',
 '0.2 ',
 '0.19 ',
 '0.19 ',
 '0.18 ',
 '0.17 ',
 '0.17 ',
 '0.16 ',
 '0.15 ',
 '0.15 ',
 '0.14 ',
 '0.14 ',
 '0.13 ',
 '0.13 ',
 '0.13 ',
 '0.12 ',
 '0.12 ',
 '0.12 ',
 '0.11 ',
 '0.11 ',
 '0.1 ',
 '0.1 ',
 '0.09 ',
 '0.09 ',
 '0.08 ',
 '0.07 ',
 '0.06 ',
 '0.06 ',
 '0.05 ',
 '0.05 ',
 '0.07 ',
 '0.07 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.05 ',
 '0.06 ',
 '0.04 ',
 '0.04 ',
 '0.04 ',
 '0.04 ',
 '0.04 ',
 '0.03 ',
 '0.03 ',
 '0.03 ',
 '0.03 ',
 '0.02 ',
 '0.02 ',
 '0.02 ',
 '0.01 ',
 '0.01 ',
 '&lt;0.01 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.06 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.07 ',
 '0.08 ',
 '0.09 ',
 '0.03 ',
 '0.03 ',
 '0.02 ',
 '0.02 ']

In [47]:
hiv3['New HIV infections (per 1000 uninfected population)_Both_sexes'] = data_list

In [48]:
hiv3.head()

,WHO_region,Year,Number_of_new_hiv_infections,New HIV infections (per 1000 uninfected population) Both_sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female,Number_of_new_hiv_Infections,New HIV infections (per 1000 uninfected population)_Both_sexes
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29],1700000,0.22
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3],1700000,0.23
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32],1800000,0.24
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33],1800000,0.25
5,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35],1900000,0.26

In [49]:
rm_bracket(hiv3['New HIV infections (per 1000 uninfected population) Male'])

In [50]:
hiv3['New HIV infections (per 1000 uninfected population) male'] = data_list

In [51]:
hiv3.head()

,WHO_region,Year,Number_of_new_hiv_infections,New HIV infections (per 1000 uninfected population) Both_sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female,Number_of_new_hiv_Infections,New HIV infections (per 1000 uninfected population)_Both_sexes,New HIV infections (per 1000 uninfected population) male
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29],1700000,0.22,0.23
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3],1700000,0.23,0.24
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32],1800000,0.24,0.24
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33],1800000,0.25,0.25
5,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35],1900000,0.26,0.26

In [52]:
rm_bracket(hiv3['New HIV infections (per 1000 uninfected population) Female'])

In [55]:
hiv3['New HIV infections (per 1000 uninfected population) female'] = data_list

In [56]:
hiv3.head()

,WHO_region,Year,Number_of_new_hiv_infections,New HIV infections (per 1000 uninfected population) Both_sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female,Number_of_new_hiv_Infections,New HIV infections (per 1000 uninfected population)_Both_sexes,New HIV infections (per 1000 uninfected population) male,New HIV infections (per 1000 uninfected population) female
1,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29],1700000,0.22,0.23,0.21
2,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3],1700000,0.23,0.24,0.22
3,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32],1800000,0.24,0.24,0.23
4,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33],1800000,0.25,0.25,0.24
5,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35],1900000,0.26,0.26,0.26

In [57]:
hiv3[175:]

,WHO_region,Year,Number_of_new_hiv_infections,New HIV infections (per 1000 uninfected population) Both_sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female,Number_of_new_hiv_Infections,New HIV infections (per 1000 uninfected population)_Both_sexes,New HIV infections (per 1000 uninfected population) male,New HIV infections (per 1000 uninfected population) female
176,Eastern Mediterranean,1994,7800 [5800–12 000],0.02 [0.02–0.03],0.02 [0.02–0.04],0.02 [0.01-0.03],7800,0.02,0.02,0.02
177,Eastern Mediterranean,1993,6400 [4800–9800],0.02 [0.01–0.03],0.02 [0.01–0.03],0.01 [0.01-0.02],6400,0.02,0.02,0.01
178,Eastern Mediterranean,1992,5100 [3800–7700],0.01 [0.01–0.02],0.02 [0.01–0.03],0.01 [&lt;0.01-0.02],5100,0.01,0.02,0.01
179,Eastern Mediterranean,1991,4000 [3000–6100],0.01 [&lt;0.01–0.02],0.01 [&lt;0.01–0.02],&lt;0.01 [&lt;0.01-0.01],4000,0.01,0.01,&lt;0.01
180,Eastern Mediterranean,1990,3300 [2500–5000],&lt;0.01 [&lt;0.01–0.02],0.01 [&lt;0.01–0.02],&lt;0.01 [&lt;0.01-0.01],3300,&lt;0.01,0.01,&lt;0.01
181,Western Pacific,2019,110 000 [71 000–150 000],0.06 [0.04–0.08],0.09 [0.05–0.12],0.03 [0.02-0.04],110000,0.06,0.09,0.03
182,Western Pacific,2018,110 000 [70 000–150 000],0.06 [0.04–0.08],0.09 [0.05–0.11],0.03 [0.02-0.04],110000,0.06,0.09,0.03
183,Western Pacific,2017,110 000 [69 000–150 000],0.06 [0.04–0.08],0.08 [0.05–0.11],0.03 [0.02-0.04],110000,0.06,0.08,0.03
184,Western Pacific,2016,110 000 [69 000–150 000],0.06 [0.04–0.08],0.08 [0.05–0.11],0.03 [0.02-0.04],110000,0.06,0.08,0.03
185,Western Pacific,2015,110 000 [69 000–150 000],0.06 [0.04–0.08],0.08 [0.05–0.11],0.03 [0.02-0.04],110000,0.06,0.08,0.03
186,Western Pacific,2014,110 000 [69 000–150 000],0.06 [0.04–0.08],0.08 [0.05–0.11],0.03 [0.02-0.04],110000,0.06,0.08,0.03
187,Western Pacific,2013,110 000 [68 000–140 000],0.06 [0.04–0.08],0.08 [0.05–0.11],0.03 [0.02-0.04],110000,0.06,0.08,0.03
188,Western Pacific,2012,110 000 [68 000–140 000],0.06 [0.04–0.08],0.08 [0.05–0.11],0.03 [0.02-0.05],110000,0.06,0.08,0.03
189,Western Pacific,2011,110 000 [68 000–140 000],0.06 [0.04–0.08],0.08 [0.05–0.11],0.03 [0.02-0.05],110000,0.06,0.08,0.03
190,Western Pacific,2010,110 000 [69 000–150 000],0.06 [0.04–0.08],0.08 [0.05–0.11],0.03 [0.02-0.05],110000,0.06,0.08,0.03
191,Western Pacific,2009,110 000 [69 000–150 000],0.06 [0.04–0.08],0.09 [0.05–0.11],0.04 [0.02-0.05],110000,0.06,0.09,0.04
192,Western Pacific,2008,110 000 [71 000–150 000],0.06 [0.04–0.08],0.09 [0.06–0.12],0.04 [0.02-0.05],110000,0.06,0.09,0.04
193,Western Pacific,2007,120 000 [73 000–160 000],0.07 [0.04–0.09],0.09 [0.06–0.12],0.04 [0.02-0.05],120000,0.07,0.09,0.04
194,Western Pacific,2006,120 000 [76 000–160 000],0.07 [0.04–0.09],0.09 [0.06–0.13],0.04 [0.02-0.06],120000,0.07,0.09,0.04
195,Western Pacific,2005,120 000 [78 000–170 000],0.07 [0.04–0.09],0.1 [0.06–0.13],0.04 [0.03-0.06],120000,0.07,0.1,0.04
196,Western Pacific,2004,130 000 [81 000–170 000],0.07 [0.05–0.1],0.1 [0.06–0.13],0.05 [0.03-0.06],130000,0.07,0.1,0.05
197,Western Pacific,2003,130 000 [81 000–170 000],0.07 [0.05–0.1],0.1 [0.06–0.14],0.05 [0.03-0.06],130000,0.07,0.1,0.05
198,Western Pacific,2002,130 000 [81 000–170 000],0.07 [0.05–0.1],0.1 [0.06–0.14],0.05 [0.03-0.06],130000,0.07,0.1,0.05
199,Western Pacific,2001,130 000 [80 000–170 000],0.07 [0.05–0.1],0.1 [0.06–0.14],0.05 [0.03-0.06],130000,0.07,0.1,0.05
200,Western Pacific,2000,130 000 [79 000–170 000],0.07 [0.05–0.1],0.1 [0.06–0.14],0.05 [0.03-0.06],130000,0.07,0.1,0.05
201,Western Pacific,1999,130 000 [79 000–170 000],0.07 [0.05–0.1],0.1 [0.06–0.14],0.05 [0.03-0.06],130000,0.07,0.1,0.05
202,Western Pacific,1998,120 000 [78 000–170 000],0.07 [0.05–0.1],0.1 [0.07–0.14],0.05 [0.03-0.06],120000,0.07,0.1,0.05
203,Western Pacific,1997,120 000 [74 000–160 000],0.07 [0.05–0.1],0.1 [0.06–0.13],0.04 [0.03-0.06],120000,0.07,0.1,0.04
204,Western Pacific,1996,120 000 [76 000–160 000],0.07 [0.05–0.1],0.1 [0.07–0.14],0.04 [0.03-0.06],120000,0.07,0.1,0.04
205,Western Pacific,1995,130 000 [81 000–170 000],0.08 [0.05–0.11],0.11 [0.07–0.15],0.04 [0.03-0.06],130000,0.08,0.11,0.04
206,Western Pacific,1994,140 000 [87 000–180 000],0.09 [0.05–0.12],0.13 [0.08–0.17],0.05 [0.03-0.06],140000,0.09,0.13,0.05
207,Western Pacific,1993,50 000 [32 000–67 000],0.03 [0.02–0.04],0.05 [0.03–0.06],0.02 [&lt;0.01-0.02],50000,0.03,0.05,0.02
208,Western Pacific,1992,40 000 [25 000–53 000],0.03 [0.02–0.03],0.04 [0.02–0.05],0.01 [&lt;0.01-0.02],40000,0.03,0.04,0.01
209,Western Pacific,1991,30 000 [19 000–40 000],0.02 [0.01–0.03],0.03 [0.02–0.04],&lt;0.01 [&lt;0.01-0.01],30000,0.02,0.03,&lt;0.01
210,Western Pacific,1990,23 000 [14 000–31 000],0.02 [&lt;0.01–0.02],0.02 [0.02–0.03],&lt;0.01 [&lt;0.01-&lt;0.01],23000,0.02,0.02,&lt;0.01

In [58]:
h = hiv3['New HIV infections (per 1000 uninfected population)_Both_sexes'][180].split(';')[1]

In [60]:
hiv3['New HIV infections (per 1000 uninfected population)_Both_sexes'].loc[hiv3['New HIV infections (per 1000 uninfected population)_Both_sexes'].index == 180] = h

In [61]:
hiv3['New HIV infections (per 1000 uninfected population)_Both_sexes'].loc[hiv3['New HIV infections (per 1000 uninfected population)_Both_sexes'].index == 180]

180    0.01
Name: New HIV infections (per 1000 uninfected population)_Both_sexes, dtype: object

In [62]:
hiv3['New HIV infections (per 1000 uninfected population) female'].loc[hiv3['New HIV infections (per 1000 uninfected population) female'].index == 179] = h
hiv3['New HIV infections (per 1000 uninfected population) female'].loc[hiv3['New HIV infections (per 1000 uninfected population) female'].index == 180] = h
hiv3['New HIV infections (per 1000 uninfected population) female'].loc[hiv3['New HIV infections (per 1000 uninfected population) female'].index == 209] = h
hiv3['New HIV infections (per 1000 uninfected population) female'].loc[hiv3['New HIV infections (per 1000 uninfected population) female'].index == 210] = h

In [63]:
hiv3.drop(['New HIV infections (per 1000 uninfected population) Female',
           'New HIV infections (per 1000 uninfected population) Male',
           'New HIV infections (per 1000 uninfected population) Both_sexes'], axis=1, inplace=True)

In [64]:
hiv3.head()

,WHO_region,Year,Number_of_new_hiv_infections,Number_of_new_hiv_Infections,New HIV infections (per 1000 uninfected population)_Both_sexes,New HIV infections (per 1000 uninfected population) male,New HIV infections (per 1000 uninfected population) female
1,Global,2019,1 700 000 [1 200 000–2 200 000],1700000,0.22,0.23,0.21
2,Global,2018,1 700 000 [1 200 000–2 300 000],1700000,0.23,0.24,0.22
3,Global,2017,1 800 000 [1 300 000–2 400 000],1800000,0.24,0.24,0.23
4,Global,2016,1 800 000 [1 300 000–2 400 000],1800000,0.25,0.25,0.24
5,Global,2015,1 900 000 [1 400 000–2 500 000],1900000,0.26,0.26,0.26

In [65]:
hiv3.drop('Number_of_new_hiv_infections', axis=1, inplace=True)

In [66]:
hiv3.head()

,WHO_region,Year,Number_of_new_hiv_Infections,New HIV infections (per 1000 uninfected population)_Both_sexes,New HIV infections (per 1000 uninfected population) male,New HIV infections (per 1000 uninfected population) female
1,Global,2019,1700000,0.22,0.23,0.21
2,Global,2018,1700000,0.23,0.24,0.22
3,Global,2017,1800000,0.24,0.24,0.23
4,Global,2016,1800000,0.25,0.25,0.24
5,Global,2015,1900000,0.26,0.26,0.26

In [67]:
hiv3['New HIV infections (per 1000 uninfected population)_Both_sexes'] = hiv3['New HIV infections (per 1000 uninfected population)_Both_sexes'].astype('float64')
hiv3['New HIV infections (per 1000 uninfected population) male'] = hiv3['New HIV infections (per 1000 uninfected population) male'].astype('float64')
hiv3['New HIV infections (per 1000 uninfected population) female'] = hiv3['New HIV infections (per 1000 uninfected population) female'].astype('float64')

In [68]:
hiv3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 1 to 210
Data columns (total 6 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   WHO_region                                                      210 non-null    object
 1   Year                                                            210 non-null    object
 2   Number_of_new_hiv_Infections                                    210 non-null    object
 3   New HIV infections (per 1000 uninfected population)_Both_sexes  210 non-null    float64
 4   New HIV infections (per 1000 uninfected population) male        210 non-null    float64
 5   New HIV infections (per 1000 uninfected population) female      210 non-null    float64
dtypes: float64(3), object(3)
memory usage: 21.5+ KB

In [69]:
hiv3['Number_of_new_hiv_Infections'] = hiv3['Number_of_new_hiv_Infections'].astype('int64')

In [71]:
hiv3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 210 entries, 1 to 210
Data columns (total 6 columns):
 #   Column                                                          Non-Null Count  Dtype
---  ------                                                          --------------  -----
 0   WHO_region                                                      210 non-null    object
 1   Year                                                            210 non-null    object
 2   Number_of_new_hiv_Infections                                    210 non-null    int64
 3   New HIV infections (per 1000 uninfected population)_Both_sexes  210 non-null    float64
 4   New HIV infections (per 1000 uninfected population) male        210 non-null    float64
 5   New HIV infections (per 1000 uninfected population) female      210 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 21.5+ KB

In [72]:
hiv3.to_csv('HIV_3_cleaned.csv', index=False)